// Global Variables

$small-font: 0.85em;
$theme-color: #F4F3EF;
$lighter-gray: #E8E9E4;
$light-gray: #A4A3A1;
$dark-gray: #646361;
$border-gray: #B4B4B4;
$button-gray: #D8D7D3;
$red: #FE5243;
$white: white;

$font-family: 'Work Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F4F3EF;
  color: #646361;
  padding: 50px 200px;
  max-width: 1100px;
  min-width: 950px;
  overflow-x: hidden;
  font-family: $font-family;
}

// Util
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.button {
  background-color: $button-gray;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
        
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #B4B4B4;
    .logo {
      width: 20%;
      height: 120px;
      background: url('../assets/logo.png') no-repeat;
      background-size: contain;
      display: inline-flex;
      cursor: pointer;
    }
    .menu {
      width: 80%;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-bottom: 10px solid #646361;
      .item {
        width: 100%;
        height: 120px;
        padding: 10px 10px;
        cursor: pointer;
        &.active {
          color: #B4B4B4;
        }
        p {
          padding: 10px 0;
          border-top: 2px solid #B4B4B4;
          font-size: $small-font;
        }
        h2 {
          padding: 10px 0;
        }
      }
    }
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    .shift {
      width: 20%;
    }
    .content {
      width: 80%;
      .us-customers {
        padding: 10px 0;
        font-size: $small-font;
        display: inline-block;
        cursor: pointer;
      }
      .random {
        float: right;
        padding: 15px 0;
        border-bottom: 1px solid #b4b4b4;
      }
    }

  }
}

main {
  section.helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      margin-top: 50px;
    
    .filter {
      width: 25%;
      position: relative;
      font-size: $small-font;

      .all {
        position: absolute;
        top: -5px;
        right: 3px;
        cursor: pointer;
      }
      .some {
        background-color: #E8E9E4;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 5px 20px;
        text-align: left;
        cursor: pointer;
      }
      .filters {
        background-color: #E8E9E4;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        
        .type {
          margin-top: 2px;
          margin-bottom: 5px;
        }
        .sort {
          margin-top: 25px;
        }
      }

    }

    .package {
      width: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      background-color: $lighter-gray;
      padding: 0 15px;
      >div{
        padding: 0 10px;
        text-align: center;
      }
      .delivery-info {
        flex-grow: 1;
        font-size: $small-font;
      }
      .quantity {
        flex-grow: 1;
        height: 100%;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        h1 {
          font-size: 3em;
          margin-bottom: -10px;
        }
      }
      .cart {
        font-size: $small-font;
        flex-grow: 3;
        .left {
          display: inline-block;
          margin-right: 10px;
          padding: 5px;
          text-align: left;
          float: left;
          width: 60%;
          .total {
            margin-top: 10px;
            padding: 5px 0;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            .price {
              color: $red;
            }
          }
        }
        .right {
          width: 30%;
          display: inline-block;
          .button {
            display: block;
            margin: 5px 0;
            color: $white;
            &.checkout {
              
              background-color: $dark-gray;
            }
          }
        }
      }
    }
  }
  section.products {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .product {
      width: 300px;
      height: 250px;
      position: relative;
      
      margin: 20px 0;
      .image {
        display: inline-block;
        position: relative;
        margin-right: 15px;
        img {
          height: 200px;
           -webkit-filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.5));
        }
        .bracket {
          height: 30px;
          margin-top: 10px;
          background: url('../assets/bracket.svg') no-repeat center;
        }
        .badge {
          position: absolute;
          top: 5px;
          color: #C0A868;
          font-weight: bold;
          text-align: center;
          .icon {
            width: 14px;
            height: 17px;
            background: url('../assets/badge.svg') no-repeat top left;
            fill: #C0A868;
            background-size: cover;
          }
        }
      }
      .details {
        display: inline-block;
        color: $light-gray;
        .title {
          position: absolute;
          top: 0;
          h1 {
            font-size: 3em;
          }
        }
        .selection {
          position: absolute;
          bottom: 0;
          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              margin: 0;
          }
          .bottle {
            padding-right: 10px;
            border-right: 1px dashed $button-gray;
          }
          .case {
            padding-left: 10px;
          }
          .bottle, .case {
            display: inline-block;
            label {
              font-size: 1.1em;
            }
            .price {
              font-size: 1.1em;
            }
            input {
              width: 20px;
              height: 20px;
              text-align: center;
            }  
          }
          .buttons {
              margin: 15px 0;
              font-weight: bold;
              font-size: $small-font;
              #add-to-cart {
                color: $white;
                background-color: #FECD0F!important;
              }
            }
        }
      }
    }
  }
}

footer {
  table, tbody {
    
    color: $light-gray;
    text-align: left;
    .title {
      border-bottom: 1px dotted $light-gray; 
    }
    .content {
      vertical-align: top;
      font-size: $small-font;
      line-height: 1.3;
      td {
        padding-top: 10px;
        padding-right: 10px;
      }
    }
  }
  // display: flex;
  //   flex-direction: row;
  //   align-content: baseline;
  // .info {
  //   width: 25%;
  //   .title {
  //     
  //     h2 {
  //       display: inline-block;
  //     }
  //   }
  //   p {
  //     font-size: $small-font;
  //     line-height: 1.3;
  //   }
  // }
}