* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F4F3EF;
  color: #646361;
  padding: 50px 200px;
  max-width: 1100px;
  min-width: 950px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.button {
  background-color: #D8D7D3;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #B4B4B4;
}

header nav .logo {
  width: 20%;
  height: 120px;
  background: url("../assets/logo.png") no-repeat;
  background-size: contain;
  display: inline-flex;
  cursor: pointer;
}

header nav .menu {
  width: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 10px solid #646361;
}

header nav .menu .item {
  width: 100%;
  height: 120px;
  padding: 10px 10px;
  cursor: pointer;
}

header nav .menu .item.active {
  color: #B4B4B4;
}

header nav .menu .item p {
  padding: 10px 0;
  border-top: 2px solid #B4B4B4;
  font-size: 0.85em;
}

header nav .menu .item h2 {
  padding: 10px 0;
}

header section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header section .shift {
  width: 20%;
}

header section .content {
  width: 80%;
}

header section .content .us-customers {
  padding: 10px 0;
  font-size: 0.85em;
  display: inline-block;
  cursor: pointer;
}

header section .content .random {
  float: right;
  padding: 15px 0;
  border-bottom: 1px solid #b4b4b4;
}

main section.helpers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

main section.helpers .filter {
  width: 25%;
  position: relative;
  font-size: 0.85em;
}

main section.helpers .filter .all {
  position: absolute;
  top: -5px;
  right: 3px;
  cursor: pointer;
}

main section.helpers .filter .some {
  background-color: #E8E9E4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 20px;
  text-align: left;
  cursor: pointer;
}

main section.helpers .filter .filters {
  background-color: #E8E9E4;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

main section.helpers .filter .filters .type {
  margin-top: 2px;
  margin-bottom: 5px;
}

main section.helpers .filter .filters .sort {
  margin-top: 25px;
}

main section.helpers cart {
  width: 70%;
  border-radius: 5px;
  background-color: #E8E9E4;
}

main section.helpers cart .package {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

main section.helpers cart .package > div {
  padding: 0 10px;
  text-align: center;
}

main section.helpers cart .package .delivery-info {
  flex-grow: 1;
  font-size: 0.85em;
}

main section.helpers cart .package .quantity {
  flex-grow: 1;
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

main section.helpers cart .package .quantity h1 {
  font-size: 3em;
  margin-bottom: -10px;
}

main section.helpers cart .package .cart {
  font-size: 0.85em;
  flex-grow: 3;
}

main section.helpers cart .package .cart .left {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  text-align: left;
  float: left;
  width: 60%;
}

main section.helpers cart .package .cart .left .button.remove {
  padding: 1px 4px;
  color: white;
  font-size: 0.5em;
  background-color: #646361;
  float: right;
}

main section.helpers cart .package .cart .left .total {
  margin-top: 10px;
  padding: 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

main section.helpers cart .package .cart .left .total .price {
  color: indianred;
  float: right;
  font-weight: bold;
  font-size: 1.2em;
}

main section.helpers cart .package .cart .right {
  width: 30%;
  display: inline-block;
}

main section.helpers cart .package .cart .right .button {
  display: block;
  margin: 5px 0;
  color: white;
}

main section.helpers cart .package .cart .right .button.remove {
  padding: 2px;
  font-size: 0.5em;
  background-color: indianred;
}

main section.helpers cart .package .cart .right .button.checkout {
  background-color: #646361;
}

main section.products {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

main section.products .product {
  width: 300px;
  height: 250px;
  position: relative;
  margin: 20px 0;
}

main section.products .product .image {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

main section.products .product .image img {
  height: 200px;
  -webkit-filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.5));
  font-size: 0.5em;
}

main section.products .product .image .bracket {
  height: 30px;
  margin-top: 10px;
  background: url("../assets/bracket.svg") no-repeat center;
}

main section.products .product .image .badge {
  position: absolute;
  top: 5px;
  color: #C0A868;
  font-weight: bold;
  text-align: center;
}

main section.products .product .image .badge .icon {
  width: 14px;
  height: 17px;
  background: url("../assets/badge.svg") no-repeat top left;
  fill: #C0A868;
  background-size: cover;
}

main section.products .product .details {
  display: inline-block;
  color: #A4A3A1;
}

main section.products .product .details .title {
  position: absolute;
  top: 0;
}

main section.products .product .details .title h1 {
  font-size: 3em;
}

main section.products .product .details .title h2 {
  font-size: 1em;
  width: 70%;
}

main section.products .product .details .selection {
  position: absolute;
  bottom: 0;
}

main section.products .product .details .selection input[type=number]::-webkit-inner-spin-button,
main section.products .product .details .selection input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

main section.products .product .details .selection .bottle {
  padding-right: 10px;
  border-right: 1px dashed #D8D7D3;
}

main section.products .product .details .selection .case {
  padding-left: 10px;
}

main section.products .product .details .selection .bottle, main section.products .product .details .selection .case {
  display: inline-block;
}

main section.products .product .details .selection .bottle label, main section.products .product .details .selection .case label {
  font-size: 1.1em;
}

main section.products .product .details .selection .bottle .price, main section.products .product .details .selection .case .price {
  font-size: 1.1em;
}

main section.products .product .details .selection .bottle input, main section.products .product .details .selection .case input {
  width: 20px;
  height: 20px;
  text-align: center;
}

main section.products .product .details .selection .buttons {
  margin: 15px 0;
  font-weight: bold;
  font-size: 0.85em;
}

main section.products .product .details .selection .buttons #add-to-cart {
  color: white;
  background-color: #FECD0F !important;
}

footer table, footer tbody {
  color: #A4A3A1;
  text-align: left;
}

footer table .title, footer tbody .title {
  border-bottom: 1px dotted #A4A3A1;
}

footer table .content, footer tbody .content {
  vertical-align: top;
  font-size: 0.85em;
  line-height: 1.3;
}

footer table .content td, footer tbody .content td {
  padding-top: 10px;
  padding-right: 10px;
}
