// Global Variables

$small-font: 0.85em;
$theme-color: #F4F3EF;
$light-gray: #E8E9E4;
$dark-gray: #646361;
$border-gray: #B4B4B4;
$button-gray: #D8D7D3;
$red: #FE5243;
$white: white;


* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F4F3EF;
  color: #646361;
  padding: 50px 200px;
}

// Util
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.button {
  background-color: $button-gray;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
        
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #B4B4B4;
    .logo {
      width: 20%;
      height: 120px;
      background: url('../assets/logo.png') no-repeat;
      background-size: contain;
      display: inline-flex;
      cursor: pointer;
    }
    .menu {
      width: 80%;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-bottom: 10px solid #646361;
      .item {
        width: 100%;
        height: 120px;
        padding: 0 10px;
        cursor: pointer;
        &.active {
          color: #B4B4B4;
        }
        p {
          padding: 10px 0;
          border-top: 2px solid #B4B4B4;
          font-size: $small-font;
        }
        h2 {
          padding: 10px 0;
        }
      }
    }
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    .shift {
      width: 20%;
    }
    .content {
      width: 80%;
      .us-customers {
        padding: 10px 0;
        font-size: $small-font;
        display: inline-block;
        cursor: pointer;
      }
      .random {
        float: right;
        padding: 15px 0;
        border-bottom: 1px solid #b4b4b4;
      }
    }

  }
}

main {
  section.helpers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      margin-top: 50px;
    
    .filter {
      width: 25%;
      position: relative;
      font-size: $small-font;

      .all {
        position: absolute;
        top: -5px;
        right: 3px;
        cursor: pointer;
      }
      .some {
        background-color: #E8E9E4;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 5px 20px;
        text-align: left;
        cursor: pointer;
      }
      .filters {
        background-color: #E8E9E4;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        
        .type {
          margin-top: 2px;
          margin-bottom: 5px;
        }
        .sort {
          margin-top: 25px;
        }
      }

    }

    .package {
      width: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      background-color: $light-gray;
      padding: 0 15px;
      >div{
        padding: 0 10px;
        text-align: center;
      }
      .delivery-info {
        flex-grow: 1;
        font-size: $small-font;
      }
      .quantity {
        flex-grow: 1;
        height: 100%;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        h1 {
          font-size: 3em;
          margin-bottom: -10px;
        }
      }
      .cart {
        font-size: $small-font;
        flex-grow: 3;
        .left {
          display: inline-block;
          margin-right: 10px;
          padding: 5px;
          text-align: left;
          float: left;
          width: 60%;
          .total {
            margin-top: 10px;
            padding: 5px 0;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            .price {
              color: $red;
            }
          }
        }
        .right {
          width: 30%;
          display: inline-block;
          .button {
            display: block;
            margin: 5px 0;
            color: $white;
            &.checkout {
              
              background-color: $dark-gray;
            }
          }
        }
      }
    }
  }
}