* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F4F3EF;
  color: #646361;
  padding: 50px 200px;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.button {
  background-color: #D8D7D3;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #B4B4B4;
}

header nav .logo {
  width: 20%;
  height: 120px;
  background: url("../assets/logo.png") no-repeat;
  background-size: contain;
  display: inline-flex;
  cursor: pointer;
}

header nav .menu {
  width: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 10px solid #646361;
}

header nav .menu .item {
  width: 100%;
  height: 120px;
  padding: 0 10px;
  cursor: pointer;
}

header nav .menu .item.active {
  color: #B4B4B4;
}

header nav .menu .item p {
  padding: 10px 0;
  border-top: 2px solid #B4B4B4;
  font-size: 0.85em;
}

header nav .menu .item h2 {
  padding: 10px 0;
}

header section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header section .shift {
  width: 20%;
}

header section .content {
  width: 80%;
}

header section .content .us-customers {
  padding: 10px 0;
  font-size: 0.85em;
  display: inline-block;
  cursor: pointer;
}

header section .content .random {
  float: right;
  padding: 15px 0;
  border-bottom: 1px solid #b4b4b4;
}

main section.helpers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

main section.helpers .filter {
  width: 25%;
  position: relative;
  font-size: 0.85em;
}

main section.helpers .filter .all {
  position: absolute;
  top: -5px;
  right: 3px;
  cursor: pointer;
}

main section.helpers .filter .some {
  background-color: #E8E9E4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 20px;
  text-align: left;
  cursor: pointer;
}

main section.helpers .filter .filters {
  background-color: #E8E9E4;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

main section.helpers .filter .filters .type {
  margin-top: 2px;
  margin-bottom: 5px;
}

main section.helpers .filter .filters .sort {
  margin-top: 25px;
}

main section.helpers .package {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #E8E9E4;
  padding: 0 15px;
}

main section.helpers .package > div {
  padding: 0 10px;
  text-align: center;
}

main section.helpers .package .delivery-info {
  flex-grow: 1;
  font-size: 0.85em;
}

main section.helpers .package .quantity {
  flex-grow: 1;
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

main section.helpers .package .quantity h1 {
  font-size: 3em;
  margin-bottom: -10px;
}

main section.helpers .package .cart {
  font-size: 0.85em;
  flex-grow: 3;
}

main section.helpers .package .cart .left {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  text-align: left;
  float: left;
  width: 60%;
}

main section.helpers .package .cart .left .total {
  margin-top: 10px;
  padding: 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

main section.helpers .package .cart .left .total .price {
  color: #FE5243;
}

main section.helpers .package .cart .right {
  width: 30%;
  display: inline-block;
}

main section.helpers .package .cart .right .button {
  display: block;
  margin: 5px 0;
  color: white;
}

main section.helpers .package .cart .right .button.checkout {
  background-color: #646361;
}
